/* montserrat-regular - latin */
@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/montserrat-v25-latin-regular.woff2") format("woff2"), url("../fonts/montserrat-v25-latin-regular.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* montserrat-500 - latin */
@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  src: url("../fonts/montserrat-v25-latin-500.woff2") format("woff2"), url("../fonts/montserrat-v25-latin-500.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* montserrat-600 - latin */
@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  src: url("../fonts/montserrat-v25-latin-600.woff2") format("woff2"), url("../fonts/montserrat-v25-latin-600.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* montserrat-700 - latin */
@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/montserrat-v25-latin-700.woff2") format("woff2"), url("../fonts/montserrat-v25-latin-700.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* oswald-regular - latin */
@font-face {
  font-family: "Oswald";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/oswald-v49-latin-regular.woff2") format("woff2"), url("../fonts/oswald-v49-latin-regular.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* oswald-600 - latin */
@font-face {
  font-family: "Oswald";
  font-style: normal;
  font-weight: 600;
  src: url("../fonts/oswald-v49-latin-600.woff2") format("woff2"), url("../fonts/oswald-v49-latin-600.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* oswald-700 - latin */
@font-face {
  font-family: "Oswald";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/oswald-v49-latin-700.woff2") format("woff2"), url("../fonts/oswald-v49-latin-700.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

body {
  margin: 0;
  background-color: #fff5f5;
}

h1, h2, h3, h4, h5, h6, p {
  margin: 0;
}

ul, ol {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  display: inline-block;
  text-decoration: none;
}

img {
  width: 100%;
  height: auto;
}

.container {
  max-width: 1300px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-left: 80px;
  padding-right: 80px;
}

.header {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
}

.header__logo-box {
  width: 80px;
  height: 80px;
}

.header__link {
  font-family: "Montserrat";
  font-weight: 500;
  font-size: 16px;
  line-height: 140%;
  color: #ffffff;
  border-bottom: 2px solid transparent;
}

.header__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header__menu-item + .header__menu-item {
  margin-left: 40px;
}

.header__link:hover {
  border-bottom: 2px solid #961914;
  -webkit-transition-duration: 1.5s;
          transition-duration: 1.5s;
}

.header__logo-box {
  margin-top: 16px;
  margin-bottom: 16px;
}

.header__menu-mobile {
  display: none;
}

@media only screen and (max-width: 950px) {
  .header__menu {
    display: none;
  }
  .header__logo {
    width: 60px;
    height: 60px;
  }
  .header__menu-mobile {
    display: inline-block;
    background-repeat: no-repeat;
    background-image: url("../../img/header-menu.svg");
    border: none;
    width: 26px;
    height: 20px;
    background-color: transparent;
  }
}
.hero__title {
  max-width: 500px;
  font-family: "Oswald";
  font-weight: 700;
  font-size: 54px;
  line-height: 130%;
  letter-spacing: 0.02em;
  color: #FFFFFF;
  margin-bottom: 10px;
}

.hero__text {
  font-family: "Montserrat";
  font-weight: 400;
  font-size: 20px;
  line-height: 140%;
  color: #FFFFFF;
  max-width: 360px;
  margin-bottom: 25px;
}

.hero__link {
  font-family: "Montserrat";
  font-weight: 600;
  font-size: 16px;
  line-height: 140%;
  text-align: center;
  color: #FFFFFF;
  padding: 13px 42px;
  background: #961914;
  border-radius: 8px;
}

.hero {
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url("../../img/hero-bgimg.jpg");
}

.hero__all-text {
  padding-bottom: 225px;
  padding-top: 200px;
}

@media only screen and (max-width: 700px) {
  .hero {
    text-align: start;
  }
  .hero__text,
.hero__title {
    max-width: 100%;
  }
  .hero__title {
    font-weight: 700;
    font-size: 44px;
    line-height: 130%;
    letter-spacing: 0.02em;
    margin-bottom: 25px;
  }
}
@media only screen and (max-width: 500px) {
  .container {
    padding-left: 20px;
    margin-right: -20px;
  }
}
.barf {
  margin-top: 180px;
}

.barf__title {
  font-family: "Oswald";
  font-weight: 700;
  font-size: 46px;
  line-height: 130%;
  letter-spacing: 0.02em;
  margin-top: 60px;
  margin-bottom: 32px;
}

.barf__text {
  font-family: "Montserrat";
  font-weight: 400;
  font-size: 16px;
  line-height: 140%;
  color: #434242;
  margin-bottom: 24px;
}

.barf__system {
  list-style-type: disc;
  margin-left: 18px;
}

.barf__system-item::marker {
  color: #961914;
  display: inline-block;
}

.barf__system-text {
  font-family: "Montserrat";
  font-weight: 400;
  font-size: 16px;
  line-height: 140%;
  color: #434242;
  margin-top: 15px;
}

.barf__title2 {
  font-family: "Montserrat";
  font-weight: 600;
  font-size: 18px;
  line-height: 130%;
}

.barf__text {
  max-width: 584px;
}

.barf__img-box {
  max-width: 588px;
}

.barf__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media only screen and (max-width: 950px) {
  .barf__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .barf__img-box {
    margin-top: 50px;
  }
}
.eat {
  background-color: #EAD1D0;
}

.eat__left-title {
  font-family: "Montserrat";
  font-weight: 600;
  font-size: 14px;
  line-height: 200%;
  text-transform: uppercase;
}

.eat__left-text {
  font-family: "Montserrat";
  font-weight: 500;
  font-size: 18px;
  line-height: 250%;
  color: #434242;
}

.eat__left-text6,
.eat__left-text7 {
  font-family: "Montserrat";
  font-weight: 500;
  font-size: 18px;
  line-height: 250%;
  color: #434242;
}

.eat__left-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.eat__left-text1::before {
  content: "";
  background-repeat: no-repeat;
  display: inline-block;
  background-image: url("../img/eat1.svg");
  width: 20px;
  height: 15px;
  margin-right: 16px;
}

.eat__left-text2::before {
  content: "";
  background-repeat: no-repeat;
  display: inline-block;
  background-image: url("../img/eat2.svg");
  width: 20px;
  height: 20px;
  margin-right: 16px;
}

.eat__left-text3::before {
  content: "";
  background-repeat: no-repeat;
  display: inline-block;
  background-image: url("../img/eat3.svg");
  width: 20px;
  height: 20px;
  margin-right: 16px;
}

.eat__left-text4::before {
  content: "";
  background-repeat: no-repeat;
  display: inline-block;
  background-image: url("../img/eat4.svg");
  width: 20px;
  height: 14px;
  margin-right: 16px;
}

.eat__left {
  margin-top: 20px;
}

.eat__container {
  margin-top: 80px;
  padding: 32px 80px;
  background-image: url("../../img/eat-bgimg.svg");
  background-repeat: no-repeat;
  background-position: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.eat__left-text5::before {
  content: "";
  background-repeat: no-repeat;
  display: inline-block;
  background-image: url("../img/eat5.svg");
  width: 20px;
  height: 19px;
  margin-right: 19px;
}

.eat__left-text6::before {
  content: "";
  background-repeat: no-repeat;
  display: inline-block;
  background-image: url("../img/eat6.svg");
  width: 20px;
  height: 21px;
  margin-right: 16px;
}

.eat__left-text7::before {
  content: "";
  background-repeat: no-repeat;
  display: inline-block;
  background-image: url("../img/eat7.svg");
  width: 20px;
  height: 18px;
  margin-right: 16px;
}

.eat__left-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.eat__left2 {
  margin-left: 72px;
}

@media only screen and (max-width: 1000px) {
  .eat__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
@media only screen and (max-width: 580px) {
  .eat__left-block {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .eat__left2 {
    margin-left: 0;
  }
  .eat__left {
    margin-top: 0;
  }
  .eat__left-title {
    margin-bottom: 20px;
    margin-top: 20px;
  }
  .eat__container {
    margin-top: -5px;
  }
}
.eat__left-text6,
.eat__left-text7 {
  font-family: "Montserrat";
  font-weight: 500;
  font-size: 18px;
  line-height: 250%;
  color: #434242;
}

.rations {
  margin-top: 203px;
}

.rations__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.rations__title {
  font-family: "Oswald";
  font-weight: 700;
  font-size: 46px;
  line-height: 130%;
  letter-spacing: 0.02em;
}

.rations__text {
  font-family: "Montserrat";
  font-weight: 400;
  font-size: 16px;
  line-height: 140%;
  max-width: 777px;
}

.rations__img-box {
  width: 280px;
}

.rations__main-box {
  margin-top: 80px;
}

.rations__page {
  width: 280px;
}

.rations__main-title {
  font-family: "Montserrat";
  font-weight: 700;
  font-size: 16px;
  line-height: 130%;
  margin-top: 45px;
}

.rations__main-text1 {
  font-family: "Montserrat";
  font-weight: 400;
  font-size: 13px;
  line-height: 130%;
  color: #9F9E9D;
  margin-top: 12px;
}

.rations__main-text2 {
  margin-top: 16px;
  font-family: "Montserrat";
  font-weight: 400;
  font-size: 14px;
  line-height: 140%;
  color: #434242;
}

.rations__main-link {
  font-family: "Montserrat";
  font-weight: 600;
  font-size: 16px;
  line-height: 140%;
  text-align: center;
  color: #961914;
  padding: 13px 42px;
  border: 1px solid #961914;
  border-radius: 8px;
  margin-top: 24px;
  margin-bottom: 10px;
}

.rations__main-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media only screen and (max-width: 1280px) {
  .rations__page {
    margin-top: 20px;
  }
  .rations__main-box {
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
}
@media only screen and (max-width: 1200px) {
  .rations__text {
    display: none;
  }
  .rations__top {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
.calculate {
  background-color: #EAD1D0;
  margin-top: 80px;
  margin-bottom: 180px;
}

.calculate__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-repeat: no-repeat;
  background-image: url("../img/calculate-bgimg.svg");
  background-position: center;
}

.calculate__text {
  max-width: 705px;
  font-family: "Montserrat";
  font-weight: 500;
  font-size: 28px;
  line-height: 140%;
  letter-spacing: 0.02em;
  margin-top: 52px;
  margin-bottom: 54px;
  margin-left: 50px;
}

.calculate__link {
  padding: 13px 42px;
  background: #961914;
  border-radius: 8px;
  font-family: "Montserrat";
  font-weight: 600;
  font-size: 16px;
  line-height: 140%;
  text-align: center;
  color: #FFFFFF;
}

@media only screen and (max-width: 1100px) {
  .calculate__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .calculate__text {
    max-width: 100%;
    text-align: center;
    margin-left: 0;
  }
}
.why__title {
  margin-bottom: 57px;
  font-family: "Oswald";
  font-weight: 700;
  font-size: 46px;
  line-height: 130%;
  letter-spacing: 0.02em;
  display: block;
}

.why__page {
  width: 280px;
}

.why__page-title {
  margin-bottom: 8px;
  font-family: "Montserrat";
  font-weight: 600;
  font-size: 18px;
  line-height: 130%;
}

.why__page-text {
  font-family: "Montserrat";
  font-weight: 400;
  font-size: 16px;
  line-height: 140%;
  max-width: 237px;
  margin-bottom: 20px;
}

.why__page-title1::before {
  content: "";
  background-repeat: no-repeat;
  background-image: url("../img/why1.svg");
  width: 40px;
  height: 40px;
  display: inline-block;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 16px;
}

.why__page-title2::before {
  content: "";
  background-repeat: no-repeat;
  background-image: url("../img/why2.svg");
  width: 40px;
  height: 40px;
  display: inline-block;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 16px;
}

.why__page-title3::before {
  content: "";
  background-repeat: no-repeat;
  background-image: url("../img/why3.svg");
  width: 40px;
  height: 40px;
  display: inline-block;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 16px;
}

.why__page-title4::before {
  content: "";
  background-repeat: no-repeat;
  background-image: url("../img/why4.svg");
  width: 40px;
  height: 40px;
  display: inline-block;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 16px;
}

.why__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

@media only screen and (max-width: 1280px) {
  .why__page {
    margin-top: 20px;
  }
  .why__box {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
.care {
  background-color: #FFF4F3;
  margin-top: 180px;
  margin-bottom: 180px;
  padding-top: 80px;
}

.care__img1-box {
  max-width: 475px;
  position: relative;
}

.care__img2-box {
  max-width: 362px;
}

.care__img2 {
  max-width: 100%;
  width: auto;
}

.care__img2 {
  position: absolute;
  top: 64%;
  left: 39%;
}

.care__img1-box::after {
  content: "";
  background-repeat: no-repeat;
  background-image: url("../img/care-small-img1.svg");
  width: 147px;
  height: 170px;
  display: inline-block;
  position: absolute;
  top: 80%;
  left: 0%;
}

.care__img1-box::before {
  content: "";
  background-repeat: no-repeat;
  background-image: url("../img/care-small-img2.svg");
  width: 90px;
  height: 100px;
  display: inline-block;
  position: absolute;
  top: 57%;
  z-index: 5;
  left: 85%;
}

.care__title {
  margin-top: 60px;
  font-family: "Oswald";
  font-weight: 700;
  font-size: 46px;
  line-height: 130%;
  letter-spacing: 0.02em;
  max-width: 416px;
}

.care__text {
  font-family: "Montserrat";
  font-weight: 400;
  font-size: 16px;
  line-height: 130%;
  color: #434242;
  margin-top: 30px;
  max-width: 520px;
}

.care__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-bottom: 100px;
}

.care__img2-box {
  max-width: 362px;
}

@media only screen and (max-width: 1250px) {
  .care__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding-bottom: 200px;
  }
  .care__right {
    margin-bottom: 50px;
  }
}
@media only screen and (max-width: 600px) {
  .care__img2 {
    top: 50%;
    left: 12%;
  }
  .care__img1-box::after {
    background-image: url("../img/care-small-img1-mobile.svg");
    top: 91%;
    left: -3%;
    width: 65px;
    height: 76px;
  }
  .care__img1-box::before {
    background-image: url("../img/care-small-img2-mobile.svg");
    top: 45%;
    left: 81%;
    width: 60px;
    height: 70px;
  }
}
.how {
  margin-bottom: 242px;
}

.how__link {
  color: #961914;
  text-decoration: underline;
}

.how__page-title1::before {
  background-image: url("../img/how-img1.svg");
}

.how__page-title2::before {
  background-image: url("../img/how-img2.svg");
}

.how__page-title3::before {
  background-image: url("../img/how-img3.svg");
}

.how__page-title4::before {
  background-image: url("../img/how-img4.svg");
}

.quiz__title {
  font-family: "Oswald";
  font-weight: 700;
  font-size: 46px;
  line-height: 130%;
  letter-spacing: 0.02em;
}

.quiz__main {
  max-width: 700px;
}

.quiz__main-title {
  font-family: "Montserrat";
  font-weight: 600;
  font-size: 18px;
  line-height: 140%;
  position: relative;
}

.quiz__main-text {
  font-family: "Montserrat";
  font-weight: 400;
  font-size: 16px;
  line-height: 140%;
  color: #434242;
  margin-top: 12px;
  padding-bottom: 32px;
}

.quiz__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin-bottom: 118px;
}

.quiz__main-title-box {
  border-bottom: 2px solid rgba(0, 0, 0, 0.288);
}

.quiz__item-text {
  font-family: "Montserrat";
  font-weight: 600;
  font-size: 18px;
  line-height: 140%;
  position: relative;
  max-width: 700px;
}

.quiz__item-text::after {
  content: "";
  background-repeat: no-repeat;
  width: 20px;
  height: 50px;
  background-image: url("../img/+.svg");
  position: absolute;
  right: 0;
  top: 0;
}

.quiz__main-title::after {
  content: "";
  background-repeat: no-repeat;
  width: 20px;
  height: 8px;
  display: inline-block;
  position: absolute;
  background-image: url("../img/-.svg");
  right: 0;
}

.quiz__item {
  padding-top: 32px;
  padding-bottom: 32px;
  border-bottom: 2px solid rgba(0, 0, 0, 0.288);
}

.quiz__item:nth-child(8) {
  border-bottom: none;
}

.footer {
  background-color: #961914;
}/*# sourceMappingURL=main.css.map */