.quiz__title {
  font-family: 'Oswald';
  font-weight: 700;
  font-size: 46px;
  line-height: 130%;
  letter-spacing: 0.02em;
}

.quiz__main {
  max-width: 700px;
}

.quiz__main-title {
  font-family: 'Montserrat';
  font-weight: 600;
  font-size: 18px;
  line-height: 140%;
  position: relative;
}

.quiz__main-text {
  font-family: 'Montserrat';
  font-weight: 400;
  font-size: 16px;
  line-height: 140%;
  color: #434242;
  margin-top: 12px;
  padding-bottom: 32px;
}

.quiz__container {
  display: flex;
  justify-content: space-around;
  margin-bottom: 118px;
}

.quiz__main-title-box {
  border-bottom: 2px solid rgba(0, 0, 0, 0.288);
}

.quiz__item-text {
  font-family: 'Montserrat';
  font-weight: 600;
  font-size: 18px;
  line-height: 140%;
  position: relative;
  max-width: 700px;
}
.quiz__item-text::after{
  content: "";
  background-repeat: no-repeat;
  width: 20px;
  height: 50px;
  background-image: url('../img/+.svg');
  position: absolute;
  right: 0;
  top: 0;
}

.quiz__main-title::after{
  content: "";
  background-repeat: no-repeat;
  width: 20px;
  height: 8px;
  display: inline-block;
  position: absolute;
  background-image: url("../img/-.svg");
  right: 0;
}

.quiz__item{
  padding-top: 32px;
  padding-bottom: 32px;
  border-bottom: 2px solid rgba(0, 0, 0, 0.288);
}

.quiz__item:nth-child(8){
  border-bottom: none;
}

@media only screen and (max-width:1000px){
  .quiz__container{
    flex-direction: column;
  }
}